# Python caches and virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/

# Project specific directories
runs/
checkpoints/
data/

# Documentation and Research Papers
Docs/
.Docs/

# Ignore all Markdown files in the whole project
*.md
# Except for the main README
!README.md
